html {
  padding: 0;
  margin: 0;
  background-color: #c9b5ab;
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  list-style-type: circle;
}
 img {
  width: 100%;
}

h1 {
  font-size: 1.5rem;
  ine-height: 1.5;
  color: #3f1622;
}
 ol {
  font-size: 1.125rem;
  line-height: 1.5;
  color: #222;
}
 ul {
  line-height: 1.5;
  color: #8f2440;
}
 a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
